header
{
    background:rgba(138,43,226, 0.5);
    padding: 40px 0px;
}
header h2
{
    color: white;
    font-family: 'Arial Black';
    text-align: center;
}

header ul
{
    padding: 0px;
    list-style:none;
    text-align: center;
}

header ul li
{
    display: inline-block;
    
}

header figure img
{
  border-radius: 50px;   
}

header figure img
{
    animation: girar 4s infinite linear reverse;
}


@keyframes girar{from {transform: rotate(360deg);}}



